.borderevent{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: box-shadow 0.4s linear;
    -moz-transition: box-shadow 0.4s linear;
    -ms-transition: box-shadow 0.4s linear;
    -o-transition: box-shadow 0.4s linear;
    transition: box-shadow 0.4s linear;
    cursor: pointer;
    margin-bottom: 25px;
    margin-left: 25px;
    height: 200px;

}

.borderevent:nth-child(n+1) {
    margin-left : 0;
}
.borderevent:nth-child(2n) {
    margin-right : 0;
}

.move{
    position: absolute;
    bottom: 20px;
}

.mobile-view {
    display: none;
}
.no-margin{
    margin: 0px !important;
}

.no-padding{
    padding: 0px !important;
}
.dates{
    font-size: small;
    display: block;
}
.headline{
    font-size: small;
    display: block;
    font-weight: bold;
}

@media only screen and (max-device-width: 480px) {
    #map-canvas {
        display: none;
    }

    .mobile-view {
        width: 100%;
        display: block;
    }
}